<%#-*- coding: utf-8 -*-%>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AVCS repository</title>
<%# Favicon %>
<link rel="icon" type="image/png" href="https://www.acceis.fr/voy_content/uploads/2021/07/32.jpg" sizes="32x32" />
<%# App icon %>
<link rel="shortcut icon" href="https://www.acceis.fr/voy_content/uploads/2021/07/48-1.jpg">
<link rel="apple-touch-icon" href="https://www.acceis.fr/voy_content/uploads/2021/07/32.jpg">
<link rel="apple-touch-icon" sizes="72x72" href="https://www.acceis.fr/voy_content/uploads/2021/07/72-1.jpg" />
<link rel="apple-touch-icon" sizes="144x144" href="https://www.acceis.fr/voy_content/uploads/2021/07/144-1.jpg" />
<meta name="msapplication-TileColor" content="#ed1c24" />
<meta name="msapplication-TileImage" content="https://www.acceis.fr/voy_content/uploads/2021/07/144-1.jpg" />
<meta name="theme-color" content="#ed1c24">
<%# Bulma CSS %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<%# Highlight.js %>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark-reasonable.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<%# SEO %>
<meta name="description" content="AVCS (ACCEIS Vulnerable Code Snippets) repository" />